<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="main-container">
  <header>
    <h1>test</h1>
  </header>
  <div class="user-info">
    <p>이름: <span th:text="${user.getNickname()}"></span></p>
    <p>권한: <span th:text="${user.getAuthority()}"></span></p>
  </div>
  <nav>
    <ul>
      <li th:if = "${user.getAuthority().name() == 'SIGNOUT'}">
        <a th:href="@{/login}">로그인</a>
      </li>
      <li th:if = "${user.getAuthority().name() != 'SIGNOUT'}">
        <a th:href="@{/logout}">로그아웃</a>
      </li>
    </ul>
  </nav>
</div>
</body>
</html>
