<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>게시글 작성</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container w-50 p-5">
  <h1>게시글 작성</h1>
  <form id="postForm" th:if="${posts == null}">
    <div class="mb-3">
      <label for="title" class="form-label">제목</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">내용</label>
      <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
    </div>
    <button type="button" onclick="submitPost('POST')" class="btn btn-primary">저장</button>
  </form>

  <form id="updateForm" th:if="${posts != null}">
    <div class="mb-3">
      <label for="title-update" class="form-label">제목</label>
      <input type="text" class="form-control" id="title-update" name="title" th:value="${posts.title}" required>
    </div>
    <div class="mb-3">
      <label for="content-update" class="form-label">내용</label>
      <textarea class="form-control" id="content-update" name="content" rows="5" th:text="${posts.content}" required></textarea>
    </div>
    <button type="button" onclick="submitPost('PUT')" class="btn btn-primary">수정</button>
  </form>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
  function submitPost(method) {
    let postData;

    if (method === 'PUT') {
      postData = {
        title: document.getElementById('title-update').value,
        content: document.getElementById('content-update').value
      };
    } else {
      postData = {
        title: document.getElementById('title').value,
        content: document.getElementById('content').value
      };
    }

    let fetchUrl = '/post';
    if (method === 'PUT') {
      let url = new URL(window.location.href);
      postData.id = url.searchParams.get('id');
      fetchUrl = '/post/' + postData.id;
      console.log(fetchUrl);
    }

    fetch(fetchUrl, {
      method: method,
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(postData)
    })
            .then(response => {
              if (response.ok) {
                return response.json();
              } else {
                return response.json().then(data => Promise.reject(data));
              }
            })
            .then(data => {
              window.location.href = '/post/' + data.id; // 리다이렉트
            })
            .catch((error) => {
              console.error('Error:', error);
            });
  }
</script>
</body>
</html>
